{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="home-section section-hero inner-page overlay bg-image"
      style="background-image: url('{% static 'images/computer.jpg' %}');" id="home-section">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-12">
            <div class="mb-5 text-center">
              <h1 class="text-white font-weight-bold">About Us</h1>
              <p>Find your dream jobs in our powerful career website .</p>
            </div>
          </div>
        </div>
      </div>
    </section>


     <section class="site-section pb-0">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <a data-fancybox data-ratio="2" href="https://vimeo.com/317571768" class="block__96788">
              <span class="play-icon"><span class="icon-play"></span></span>
              <img src="{% static 'images/about_1.jpg' %}" alt="Image" class="img-fluid img-shadow">
            </a>
          </div>
          <div class="col-lg-5 ml-auto">
            <h2 class="section-title mb-3">Careers for Your Careers</h2>
            <p class="lead">It will happen that the pleasures take the smallest pleasures, when the pleasures are pains, but to do the body who, whosoever hates them, has no life at all. Let it be pleasure.</p>
            <p>It will never happen to him to assume these very things, but for the desire of life he abandons the choice of the duties of the mode of pursuit. The times that we have here are among the harshest of any of our options!</p>
          </div>
        </div>
      </div>
    </section>


    <section class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Our Team</h2>
          </div>
        </div>

        <div class="row align-items-center block__69944">

          <div class="col-md-6">
            <img src="{% static 'images/person_2.jpg' %}" alt="Image" class="img-fluid mb-4 rounded">

            <h3>Sameer</h3>
            <p class="text-muted">Creative Director</p>
            <p>Loosed as if when the chosen one is easy to refuse, they don't know the troubles of the accusers, the pains of the free one drives it back into the pain of the labors in ways that reject the pleasures of the pains and the pleasures of the pleasures. From or to I will explain the right we can follow and does not want to choose the matter of trouble?</p>
            <div class="social mt-4">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>


          <div class="col-md-6 order-md-2">
            <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid mb-4 rounded">


            <h3>Chris</h3>
            <p class="text-muted">Creative Director</p>
            <p>Loosed as if when the chosen one is easy to refuse, they don't know the troubles of the accusers, the pains of the free one drives it back into the pain of the labors in ways that reject the pleasures of the pains and the pleasures of the pleasures. From or to I will explain the right we can follow and does not want to choose the matter of trouble?</p>
            <div class="social mt-4">
              <a href="#"><span class="icon-facebook"></span></a>
              <a href="#"><span class="icon-twitter"></span></a>
              <a href="#"><span class="icon-instagram"></span></a>
              <a href="#"><span class="icon-linkedin"></span></a>
            </div>
          </div>


        </div>

      </div>
    </section>


    <section class="py-5 bg-image overlay-primary fixed overlay" id="next-section"
      style="background-image: url('images/computer.jpg');">
      <div class="container">
        <div class="row mb-5 justify-content-center">
          <div class="col-md-7 text-center">
            <h2 class="section-title mb-2 text-white">JobBoard Site Stats</h2>
            <p class="lead text-white">The company itself is a very successful company. Expeditiously, whence those who refuse to perform their duties are to be followed by those who are corrupt.</p>
          </div>
        </div>
      </div>
        <div class="row pb-0 block__19738 section-counter">

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="1930">0</strong>
            </div>
            <span class="caption">Candidates</span>
          </div>
        </div>
          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="54">0</strong>
            </div>
            <span class="caption">Jobs Posted</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="120">0</strong>
            </div>
            <span class="caption">Jobs Filled</span>
          </div>

          <div class="col-6 col-md-6 col-lg-3 mb-5 mb-lg-0">
            <div class="d-flex align-items-center justify-content-center mb-2">
              <strong class="number" data-number="550">0</strong>
            </div>
            <span class="caption">Companies</span>
          </div>


        </div>
      </div>
    </section>


{% endblock %}
